@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Login admin</h2>

<a href="/User/Logout?name=@ViewBag.user.name">
    <button>
        Logout
    </button>
</a>


<a href="/User/AddView">
    <button>
        Logout
    </button>
</a>



<div>
	<br/>
	<h4>Friends</h4>
	<ul id="FriendsList">
	</ul>
</div>


<br/>

<div>
	<h4>Users</h4>
	<ul id="UsersList">
	</ul>
</div>

<script type="text/javascript">

var LoggedInUserName = "@ViewBag.user.name";
console.log("Log: " + LoggedInUserName);

function Request(type, addr, func) {
	var req = new XMLHttpRequest();
	req.onreadystatechange = function() {
		if(this.readyState == 4 && this.status == 200) {
			func(JSON.parse(this.response));
		}
	};
	req.open(type, addr, true);
	req.send();
}


function DeleteFriend(name) {
	Request("POST", "/User/Del?admin=admin&name="+name, function(msg) {
		UserListRequest();
	});
}

Request("GET", "/Friends?name="+LoggedInUserName, function(msg) {
	console.log(msg);
	if(msg.friends != undefined) {
		var home = document.getElementById("FriendsList");
		var html = "";
		msg.friends.forEach(function(value) {
			html += "<li>";
			html += value;
			html += "</li>";
		});
		home.innerHTML = html;
	}
});

function DeleteUser(name) {
	Request("POST", "/User/Del?admin=admin&name="+name, function(msg) {
		UserListRequest();
	});
}

function UserListRequest() {
	Request("GET", "/User/List?admin=admin", function(msg) {
		console.log(msg);
		if(msg.users != undefined) {
			var home = document.getElementById("UsersList");
			var html = "";
			msg.users.forEach(function(value) {
				console.log(value);
				html += "<li>";
				if(value != "admin") {
					html += "<button onclick=\"DeleteUser('"+value+"' )\">Delete</button>";
				}
				html += value;
				html += "</li>";
			});
			home.innerHTML = html;
		}
	});
};

UserListRequest();

</script>
