@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	<br/>
	<br/>
	
	
	<form action="/User/Login">
		<label for="name">Login:</label><br>
		<input type="text" id="name" name="name" value="admin"><br>
		<input type="submit" value="Login">
	</form> 
	
	
	
	
	
	
	
<!--
<form action="/User/Import" enctype="multipart/form-data" method="post">
	<label class="custom-uploader" for="file">Upload Your File</label>
	<input id="file" accept="application/json" name="file" type="file"/>
	<button class="btn btn-success" name="submit" type="submit"> Upload File </button>
</form>
-->
	
	
	
	
</div>
